/* Main Stylesheet */

/* ========== RESET & BASE STYLES ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
}

/* ========== GLOBAL ELEMENTS ========== */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.icon {
  width: 25px;
  height: 25px;
}

/* ========== MOBILE FIRST STYLES ========== */

/* Header Container */
header {
  display: flex;
  justify-content: space-between;
  overflow: hidden; /* prevent scrollbars */
  padding: 0.5em;
  border: solid 2px red; /* dev only */
  align-items: center;
}

/* ========== PRIMARY NAVIGATION ========== */

.main-nav-list {
  /* TODO: Check what's best visibiity or display */
  /*visibility: hidden; /* hide menu by default on mobile */
  display: none; /* hide menu by default on mobile */
  text-align: right;
  position: fixed; /* overlay menu */
  top: 0;
  right: 0;
  background-color: var(--card-background);
  /* height: 100vh; */ /* TODO: decide if you want it to take all the vertical space or not */
  border: solid 2px yellowgreen; /* dev only */
}

.main-nav-list li {
  display: block;
  padding: 0.5em 1em;
}

.main-nav-list li:first-child {
  padding-top: 0; /* remove extra space above close button */
  padding-bottom: 0;
}

.menu-close svg {
  width: 1em; /* size close icon */
}

/* ========== SECONDARY NAVIGATION ========== */

.secondary-nav {
  border: 2px orange solid; /* dev only */
}

.secondary-nav-list {
  display: flex;
  align-items: center;
}

.secondary-nav-list li {
  margin-left: 2em; /* spacing between icons */
}
