/* Main Stylesheet */

/* ========== RESET & BASE STYLES ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
  text-align: center;
}

/* ========== GLOBAL ELEMENTS ========== */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.icon {
  width: 25px;
  height: 25px;
}

/* Buttons */

.link-button {
  display: inline-block;
  padding: 0.75em 2.5em;
  font-family: inherit;
  background-color: var(--white);
  color: var(--text-color);
  border: none;
  border-radius: 45px;
}

.dark-button {
  background-color: var(--footer-background);
  color: var(--white);
}

.card-container .link-button {
  padding: 0.5em 1em;
  font-size: .9em;
}

.dealer-card-container .link-button {
  padding: 1em 3em;
  font-size: .8em;
}

/* Images */

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.hero-image {
  border-radius: 0;
  /* override global img border-radius for hero image */
}

/* Typography */

.uppercase {
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-family-titles);
  font-size: 2em;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .5em;
  /* TODO: Should it be here or dealt in each section - unify padding and margin? */
}



/* ========== MOBILE FIRST STYLES ========== */

/* Header Container */
header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* prevent scrollbars */
  padding: 0.5em;
  border: solid 2px red;
  /* dev only */
  align-items: center;
}

/* ========== PRIMARY NAVIGATION ========== */

.main-nav-list {
  /* TODO: Check what's best visibiity or display */
  /*visibility: hidden; /* hide menu by default on mobile */
  display: none;
  /* hide menu by default on mobile */
  text-align: right;
  position: fixed;
  /* overlay menu */
  top: 0;
  right: 0;
  background-color: var(--card-background);
  /* height: 100vh; */
  /* TODO: decide if you want it to take all the vertical space or not */
  border: solid 2px yellowgreen;
  /* dev only */
}

.main-nav-list li {
  display: block;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: .8em;
}

.main-nav-list li:first-child {
  padding-top: 0;
  /* remove extra space above close button */
  padding-bottom: 0;
}

.menu-close svg {
  width: 1em;
  /* size close icon */
}

/* ========== SECONDARY NAVIGATION ========== */

.secondary-nav {
  border: 2px orange solid;
  /* dev only */
}

.secondary-nav-list {
  display: flex;
  align-items: center;
}

.secondary-nav-list li {
  margin-left: 2em;
  /* spacing between icons */
}

/* Color Circles */

/* Color selector circles (hidden by default) */



.card-bottom-container,
.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bottom-container {
  padding: 1em 0;
}

.color-circle {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: var(--white) solid 2px;
  margin-left: 1em;
  display: none;
  /* Hidden until needed */
}

/* Color options for car customization */
.gray {
  background-color: #c5c5c5;
}

.red {
  background-color: #b20000;
}

.blue {
  background-color: #0010a1;
}

.black {
  background-color: black;
}

.yellow {
  background-color: #e2c324;
}

.slate-blue {
  background-color: #515f91;
}

.muted-red {
  background-color: #AE3F3F; 
}

/*TODO: Change name to class*/


@media (min-width: 400px){
.color-circle {
    display: inline-block;
    /* show color circles on larger screens */
  }

  .color-container {
    border: solid 2px darkcyan;
    /* dev only */
  }
  
  .card-bottom-container,
  .color-container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; 
  }
}

@media (min-width: 600px) {
  /* Tablet and above styles can go here */

  /* TODO: Funny navbar behaviour - fix */
  .main-nav {
    display: flex;
    /* show navbar on larger screens */
    align-items: center;
  }

  .main-nav-list {
    display: flex;
    /* show menu on larger screens */
    flex-direction: row;
    position: unset;
    /* reset position */
    /*TODO: static or unset?*/
    top: unset;
    right: unset;
    background-color: var(--background);
  }

  .main-nav-list li {
    display: inline-block;
    padding: 0 1em;
  }

  .menu-close svg,
  .burger-menu {
    display: none;
    /* remove icons from navbar */
  }
}


/* ========== HERO SECTION ========== */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30svh;
  /* viewport height */

  /* padding: 4rem 2rem; */

  background-image: url(../images/mercedes-benz-coupe-hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: .7em;
}

.hero .subtitle,
.hero p {
  color: var(--white-text);
  text-align: left;
  line-height: .9em;
  margin: 0;
  letter-spacing: 1px;
}

.hero .subtitle {
  font-size: 1.5em;
}

.hero p {
  font-size: 1em;
  text-transform: capitalize;
}



/* ========== CAR GALLERY SECTION ========== */

/* TODO: Remove borders*/

.car-gallery {
  border: solid 3px teal;
  /* dev only */
  display: grid;
  grid-template-columns: 1fr;
  /* single column on mobile */
  margin-top: 1em;
}

.card-container {
  border: solid 2px darkred;
  /* dev only */
  background-color: var(--card-background);
  margin: .5em 1em;
  border-radius: var(--border-radius);
  overflow: hidden;
  /* ensure border-radius applies to children */
  padding: 1em;
}

.card-bottom-container {
  border: solid 2px darkorchid;
  /* dev only */
}

.card-container img {
  border: solid 2px darkgoldenrod;
  /* dev only */
}

.card-title {
  font-size: 1.875rem;
  font-weight: 400;
}

.product-card-image {
  width: 100%;
  height: 150px;
  /* or clamp() */
  object-fit: contain;
  margin-top: 1em;
}

/* ========== DEALERSHIP SECTION ========== */

.dealerships .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 2px blueviolet;
  /* dev only */
  padding: 2em 2em;
  /*TODO: unify padding and margin? */
}

.dealerships .container p {
  font-size: 1.2em;
  line-height: 1.2;
}

/* Nightmap subsection */

.dealer-nightmap {
  background-image: url(../images/usa-night-map-background.png);
  /*TODO: Accessibility for background images alt="Night satellite view of the United States showing illuminated cities."*/
  background-size: cover;
  background-position: center;
  height: 60svh;
  color: var(--white-text);
  padding: 2.2em 1.5em;
}

.dealer-card-container {
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1em;
}

/* TODO: Need to add styling for very small devices - Text should adapt */

.dealer-card-container h2 {
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.2;
  width: 80%;
  /* constrain width for readability */
}




/* ========== MAYBACH RED SECTION ========== */

.maybach-red {
  display: flex;
  flex-direction: column;
}

/* TODO: Unify paddings for all sections? */
.maybach-red .container {
  border: solid 2px green;
  /* dev only */
  padding: 1em 1em 2em;
}


/* ========== MAYBACH WHEELS SECTION ========== */

/* TODO: Check why padding works ok in .maybach-wheels but not margin. */
/* TODO: Use shorthand for padding and margin / merge rules?. */

.maybach-wheels {
  background-color: var(--white);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.maybach-wheels .subtitle {
  margin-bottom: .6em;
  /* space below heading */
}

.maybach-wheels img {
  margin-bottom: 2em;
  /* space below wheel image */
}

.maybach-wheels p {
  font-size: 1em;
  /* slightly larger text for readability */
  margin-bottom: 1.5em;
  /* space before CTA button */
}

/* ========== APPOINTMENT SECTION ========== */

.appointment {
  background-color: var(--appointment-background);
  /* dark background */
  color: var(--white-text);
  padding: 1.5em 2.5em;
  font-size: 1.1em;
  /* slightly larger text */
  text-align: center;
}

.appointment .link-button {
  margin-top: 2em;
  margin-bottom: 1em; 
}


/* ========== FOOTER ========== */

footer {
  border: 2px purple solid;
  /* dev only */
  background-color: var(--footer-background);
  color: var(--text-color-footer);
  text-align: center;
}

/* Social Media Icons */

.social-media {
  margin: 2em 0 1em 0;
}

.social-media-list {
  border: 2px pink solid;
  /* dev only */
  display: flex;
  justify-content: space-around;
  /* distribute icons evenly */
  align-items: center;
  padding: 1em;
  width: 80%;
  /* constrain width on mobile */
  margin: 0 auto;
}

/* Footer Navigation Columns */

.footer-nav-section {
  border: 2px blue solid;
  /* dev only */
  display: flex;
  flex-direction: column;
  /* stack columns vertically on mobile */
  margin-top: 2em;
}

.footer-nav {
  border: 2px cyan solid;
  /* dev only */
  margin: 2em;
}

.footer-nav li {
  margin-bottom: 0.6em;
  /* spacing between links */
}

.footer-nav h4 {
  color: var(--white-text);
  font-size: 1.5em;
  margin-bottom: 1em;
  /* space before link list */
}