/* Main Stylesheet */

/* ========== RESET & BASE STYLES ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
  text-align: center;
}

/* ========== GLOBAL ELEMENTS ========== */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.icon {
  width: 25px;
  height: 25px;
}


.link-button {
  display: inline-block;
  padding: 0.75em 2.5em;
  font-family: inherit;
  background-color: var(--white);
  color: var(--text-color);
  border: none;
  border-radius: 45px;
  margin-top: 1.5em;
  text-transform: uppercase;
}

.dark-button {
  background-color: var(--black);
  color: var(--white);
}


img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

/* Typography */

.subtitle {
  font-family: var(--font-family-titles);
  font-size: 2.5em;
  font-weight: 400;
}



/* ========== MOBILE FIRST STYLES ========== */

/* Header Container */
header {
  display: flex;
  justify-content: space-between;
  overflow: hidden; /* prevent scrollbars */
  padding: 0.5em;
  border: solid 2px red; /* dev only */
  align-items: center;
}

/* ========== PRIMARY NAVIGATION ========== */

.main-nav-list {
  /* TODO: Check what's best visibiity or display */
  /*visibility: hidden; /* hide menu by default on mobile */
  display: none; /* hide menu by default on mobile */
  text-align: right;
  position: fixed; /* overlay menu */
  top: 0;
  right: 0;
  background-color: var(--card-background);
  /* height: 100vh; */ /* TODO: decide if you want it to take all the vertical space or not */
  border: solid 2px yellowgreen; /* dev only */
}

.main-nav-list li {
  display: block;
  padding: 0.5em 1em;
}

.main-nav-list li:first-child {
  padding-top: 0; /* remove extra space above close button */
  padding-bottom: 0;
}

.menu-close svg {
  width: 1em; /* size close icon */
}

/* ========== SECONDARY NAVIGATION ========== */

.secondary-nav {
  border: 2px orange solid; /* dev only */
}

.secondary-nav-list {
  display: flex;
  align-items: center;
}

.secondary-nav-list li {
  margin-left: 2em; /* spacing between icons */
}




/* ========== MAYBACH WHEELS SECTION ========== */

/* TODO: Check why padding works ok in .maybach-wheels but not margin. */
/* TODO: Use shorthand for padding and margin / merge rules?. */

.maybach-wheels{
  background-color: var(--white); /* white background for contrast */
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-top: 2em;    
}

.maybach-wheels .subtitle {
  margin-bottom: .7em; /* space below heading */
}

.maybach-wheels img {
  margin-bottom: 2em; /* space below wheel image */
}

.maybach-wheels p {
  font-size: 1.1em; /* slightly larger text for readability */
  margin-bottom: 1.5em; /* space before CTA button */
}

/* ========== APPOINTMENT SECTION ========== */

.appointment {
  background-color: var(--appointment-background); /* dark background */
  color: var(--white-text);
  padding: 1.5em 2.5em;
  font-size: 1.1em; /* slightly larger text */
  text-align: center;
}




/* ========== FOOTER ========== */

footer {
  border: 2px purple solid; /* dev only */
  background-color: var(--footer-background);
  color: var(--text-color-footer);
  text-align: center;
}

/* Social Media Icons */

.social-media {
  margin: 2em 0 1em 0;
}

.social-media-list {
  border: 2px pink solid; /* dev only */
  display: flex;
  justify-content: space-around; /* distribute icons evenly */
  align-items: center;
  padding: 1em;
  width: 80%; /* constrain width on mobile */
  margin: 0 auto;
}

/* Footer Navigation Columns */

.footer-nav-section {
  border: 2px blue solid; /* dev only */
  display: flex;
  flex-direction: column; /* stack columns vertically on mobile */
  margin-top: 2em;
}

.footer-nav {
  border: 2px cyan solid; /* dev only */
  margin: 2em;
}

.footer-nav li {
  margin-bottom: 0.6em; /* spacing between links */
}

.footer-nav h4 {
  color: var(--white-text);
  font-size: 1.5em;
  margin-bottom: 1em; /* space before link list */
}
