/* Main Stylesheet */

/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
}

/* Links - General */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.icon {
  width: 25px;
  height: 25px;
}


/* Mobile First Styles */



header {
  display: flex;
  justify-content: space-between;
  overflow: hidden; /* prevent scrollbars */
  padding: .5em;
  border: solid 2px red;
  align-items: center;
}



.main-nav-list{
  /* TODO: Check what's best visibiity or display */
  /*visibility: hidden; /* hide menu by default on mobile */
  display: none; /* hide menu by default on mobile */
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--card-background);
  /* height: 100vh; */ /* TODO: decide if you want it to take all the vertical space or not */
  border: solid 2px yellowgreen
}

.main-nav-list li {
  display: block;
  padding: .5em 1em;
}

.main-nav-list li:first-child{
  padding-top: 0; 
  padding-bottom: 0;
}

.menu-close svg {
  width: 1em;
}


.secondary-nav {
  border: 2px orange solid;
}

.secondary-nav-list {
  display: flex; 
  align-items: center;
}
.secondary-nav-list li {
  margin-left: 2em;
}


