:root {
  --font-family-base: "abeezee","Inter", sans-serif;
  --font-family-titles: "Abhaya Libre", Garamond, serif;
  --font-family-footer: "Host Grotesk", sans-serif;
  --text-color: #141615;
  --text-color-footer: #FFFFFF99; 

  --white-background: #EEEEEE;
  --footer-background: #000000;
  --card-background: #D9D9D9;
  --appointment-background: #565656; /*TODO: Find the actual color with the color dropper*/

  --white: #FFFFFF;
  --white-text: #FFFFFF;
  --black: #000000;

  --border-radius: 15px;
}